@import "./main.scss";
.clients-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.clients-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin: 5px;
}
.clients-text {
  padding: -50px;
}
.clients-header {
  color: $dark-gray;
  font-size: $heading-two-font;
  font-family: $heading-one-family;
  margin-bottom: 5px;
}
.clients-desc {
  color: $medium-gray;
  font-size: $pragraph-font;
  font-family: $links-family;
  letter-spacing: 1px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  &:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }

  &:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }

  &:hover .logos-slide {
    animation-play-state: paused;
  }

  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;

    img {
      height: 50px;
      margin: 0 50px;
    }
  }
}

@media (min-width: 200px) and (max-width: 1000px) {
  .clients-header {
    font-size: 27px;
    font-family: $links-family;
    letter-spacing: 1px;
  }
  .clients-desc {
    font-size: 20px;
    font-family: $links-family;
    letter-spacing: 1px;
  }

  .logos {
    img {
      height: 50px;
      width: 100px;
    }
  }
}
