@import "main.scss";
.clients-journey-conatiner {
  width: 100%;
  height: auto;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  background-color: $white-color;
}

.journey-section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.clients-text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.journey-head {
  margin-bottom: -15px;
  color: $dark-gray;
  font-size: $heading-two-font;
  font-family: $heading-one-family;
  letter-spacing: 1px;
}

.journey-desc {
  color: $medium-gray;
  font-size: $pragraph-font;
  font-family: $links-family;
  letter-spacing: 1.2px;
}

.img-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.img-one {
  width: 80%;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  object-fit: contain;
  padding-bottom: 5%;
  padding-top: 10%;
}
.img-two {
  width: 100%;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  padding-top: 10%;
}
@media (max-width: 768px) {
  .clients-text {
    h1 {
      // margin-bottom: -15px;
      color: $dark-gray;
      font-size: 24px;
      font-family: $heading-one-family;
      letter-spacing: 1px;
    }
  }
  .journey-desc {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1.2px;
  }
}
