@import "./main.scss";
.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 100px;
}
.first-header {
  color: $dark-gray;
  font-size: $heading-two-font;
  font-family: $heading-one-family;
  letter-spacing: 1px;
  margin-bottom: -15px;
}

.desc-main {
  color: $medium-gray;
  font-size: $pragraph-font;
  font-family: $links-family;
  letter-spacing: 1.2px;
}
.testimonials-desc {
  color: $medium-gray;
  font-size: $pragraph-font;
  font-family: $links-family;
  letter-spacing: 1.2px;
}
.testimonials-wrapper {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 20px;
}
.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 300px;
  width: 30%;
  margin: 3%;
  line-height: 30px;
  p {
    letter-spacing: 1.7px;
    // width: ;
    margin: 30px;
  }
}
.stars {
  width: 100px;
  margin: 3%;
}
.stars-three {
  width: 100px;
  margin: 5%;
}
.border-two {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 300px;
  width: 30%;
  line-height: 30px;
  p {
    letter-spacing: 1.7px;
    margin: 30px;
  }
}

.border-three {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 300px;
  width: 30%;
  margin: 3%;
  line-height: 30px;
  p {
    letter-spacing: 1.7px;
    margin: 28px;
  }
}

@media (min-width: 200px) and (max-width: 1000px) {
  .testimonials-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .testimonials-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .desc-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
  }
  .border-one,
  .border-two,
  .border-three {
    padding-top: -10rem;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 0;
  }

  p {
    font-size: 12px;
    margin: 45px;
  }
  .testimonials-desc {
    font-size: 12px;
  }
  .stars {
    width: 100px;
    margin-bottom: 20px;
  }
}
